
* {
	margin: 1px;
	padding: 1px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	width: 700px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 175px;
	background: rgba(89, 155, 255, 0.15);
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 100px 0 0;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;
	width: 250px;
	margin-left: -250px;
	position: relative;
	bottom: 150px;
	left: 30px;


}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 50px;
	position: relative;
	bottom: 130px;
	background: rgba(89, 155, 255, 0.15);
}

#name_summery
{
	text-align: right;
}

.disqus_thread
{
	position: relative;
	bottom: 500px;
}

#image
{
	position: relative;
	bottom: 50px;
}

#inform_user
{
	position: relative;
	left: 175px;
	bottom: 180px;
}